{% extends 'base.html' %}

{% block content %}
    <h1>Sign up!</h1>
    <form action='/' method="POST">
        <table>
            <tbody>
                <tr>
                    <label>
                        <td><h5>Username:</td>
                        <td><input type="text" name="username" required value={{username}}></h5></td>
                        <td><p class="error"><strong>{{name_error}}</strong></p></td>
                    </label>
                </tr>
                <tr>
                    <label>
                        <td><h5>Password:</td>
                        <td><input type="password" name="pass1" required></h5><p>{{no_match}}</p></td>
                        <td><p class="error"><strong>{{pass1_error}}</strong></p></td>
                    </label>
                </tr>
                <tr>
                    <label>
                        <td><h5>Verify Password:</td>
                        <td><input type="password" name="pass2" required></h5></td>
                        <td><p class="error"><strong>{{pass2_error}}</strong></p></td>
                    </label>
                </tr>
                <tr>
                    <label>
                        <td><h5>Email (optional)</td>
                        <td><input type="text" name="email"></h5></td>
                    </label>
                </tr>
                <tr>
                    <td>
                        <input type="submit">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}